ul{
  list-style: none;
  padding: 0;
  margin: 0;

}

a{
  color: white;
  text-decoration:none;
}

/* Our toolbar uses flexbox by default, hence we can do this */

/* Takes all available space between objects in flexbox. Since this sits between Mymessages and New Post it will seperate them on either side */
.spacer{
  flex: 1 1 auto;
}
