


<mat-toolbar color="primary">
  <span><a routerLink="/">MyMessages</a></span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <!-- Router link active really cool. Can do logic if we are at the route it referes to -->
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li>
      <button mat-button (click)="onLogout()" *ngIf="userIsAuthenticated">Logout</button>
    </li>

  </ul>
</mat-toolbar>
